body {
    background-color : rgba(255, 166, 0, 0.473);
    margin :auto;
    padding : 20px;
    display : flex;
    justify-content : center;
    align-items: center;
    min-height : 100vh;
    font-family :'Times New Roman', Times, serif;
    color : #333333de;
}

.app-container {
    background-color :rgba(255, 238, 0, 0.562);
    padding : 25px;
    border-radius : 8px;
    box-shadow : 0 4px 12px rgba(0,0,0,1);
    width : 100%;
    max-width : 500px;
    text-align : center;
}

h1{
    color : #2c2d50ea;
    margin-top : 0;
    margin-bottom : 20px;
    font-size: 2em;
    text-align : center;
}

.input-container {
    display : flex;
    gap : 10px;
    margin-bottom:20px;
}

.input-container input[type="text"]{
    background-color : pink;
    flex-grow : 1;
    padding : 10px 15px;
    border : 2px solid #dcdfe6;
    border-radius: 10px;
    font-size : 1rem;
    outline : none;
    transition : border-color 0.3s ease-in-out;
}

.input-container input[type="text"]:hover{
    border-color : #409eff;
    background-color: #00ffd5;
}

.add-button {
    padding : 10px 20px;
    background-color : #c340fff8;
    color : white;
    border-radius: 4px;
    cursor : pointer;
    font-size : 1em;
    font-weight : 500;
    transition : background-color 0.5 ease-in-out ;
}

.add-button:hover {
    background-color: #2c2d50ea;
}

.todo-list {
    list-style-type: disc;
    padding : 0;
    margin : 0;
    text-align : left;
}

.todo-list li{
    display : flex ;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    background-color: yellowgreen;
    border : 2px solid #e4e7ed;
    border-radius : 4px;
    margin-bottom : 10px;
    cursor : pointer;
    transition : background-color 0.2s ease-in-out;
    word-break: break-word;
}

.todo-list li:hover{
    background-color: rgba(0, 47, 255, 0.637);
    border-color: #00ffd5;
}

.todo-list li span{
    flex-grow: 1;
    margin-right: 10px;
}

.todo-list li.completed span{
    text-decoration: line-through;
    text-decoration-color: red ;
}

.delete-button{
    padding: 6px 12px;
    background-color: rgba(255, 0, 0, 0.589);
    color: white;
    border : hsl(303, 100%, 88%);
    border-radius: 4px;
    cursor : pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s ease-in-out;
}

.delete-button:hover{
    background-color : #2c2d50ea;
}

.todo-list:empty::after{
    content : "No Tasks Added!!";
    display : block;
    text-align : center;
    color : red;
    padding : 20px 0;
    font-style : italic;
}